<div class="col col-model">
    <div class="text-wrap text-center text-model">
        <img src="<%- imageRoot %>/images/<%- image %>" alt="<%- title %>">
        <h3><%- title %></h3>
        <div class="buttons">
            <a href="<%- link %>" target="_blank" class="btn-p6 btn-p6-encased" data-omni="<%- omniBase %>:go-to:<%- title %>" data-omni-type="<%= omniType %>"><%- t('BT_READMORE') %></a>
        </div>
    </div>
</div>