<div class="col col-4">
    <div class="item-participant text-wrap">
        <img class="icon" src="<%= contentRoot %>/images/ico_user.svg" alt="<%= title %>">
        <h5 class="name"><%= title %></h5>
        <p class="phone"><%= phone %></p>
        <p class="reviews"><%= t('REVIEWS_NUMBER') %> <b><%= reviews %></b></p>
    </div>
</div>