<%
const {language, appId, routeData, page} = htmlWebpackPlugin.options;
let {imageRoot, contentRoot, omniBase, baseUrl, apiUrl} = routeData;

imageRoot = imageRoot.replace('{locale}', `${page}_${language}`);
contentRoot = contentRoot.replace('{locale}', `${page}_${language}`);
omniBase = omniBase.replace('{locale}', `${page}_${language}`);
baseUrl = baseUrl.replace('{locale}', `${page}_${language}`);


imageRoot = imageRoot.replace('{appId}', appId);
contentRoot = contentRoot.replace('{appId}', appId);
omniBase = omniBase.replace('{appId}', appId);
baseUrl = baseUrl.replace('{appId}', appId);

const omniType = 'microsite';
const translation = require(`../../data/translations/locale-${page}-${language}`);

const t = (str) => (translation[str] ? translation[str] : str);

const _faq_item = require('./_faq_item.ejs');
const _popup = require('./_popup.ejs');
const input = require('./_input.ejs');
const formFields = require("../js/formFields");
const _youtube = require('./_youtube.ejs');
%>

<!DOCTYPE html>
<html lang="<%- language %>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet"
          href="https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-base.min.b2b46ed65d46ffd78b7dd408f6f1ed36.css"/>
</head>
<body>
<%
    //Duplicate translation strings which used in js scripts
%>
<script>
    var seceTranslationStrings = {
        'POPUP_SUCCESS_TITLE': "<%- t('POPUP_SUCCESS_TITLE') %>",
        'POPUP_SUCCESS_TEXT': "<%- t('POPUP_SUCCESS_TEXT') %>",
        'POPUP_ERROR_TITLE': "<%- t('POPUP_ERROR_TITLE') %>",
        'BT_SEND': "<%- t('BT_SEND') %>",
        'POPUP_ERROR_TEXT': "<%- t('POPUP_ERROR_TEXT') %>",
        'FORM_INPUT_ERROR_REQUIRED': "<%- t('FORM_INPUT_ERROR_REQUIRED') %>",
        'FORM_INPUT_AGREEMENT_ERROR': "<%- t('FORM_INPUT_AGREEMENT_ERROR') %>",
        'POPUP_ERROR_SERIAL_TEXT': "<%- t('POPUP_ERROR_SERIAL_TEXT') %>",
        'FORM_KEY': "<%- t('FORM_KEY') %>",
        'FORM_INPUT_PHONE_FORMAT_MASK': "<%- t('FORM_INPUT_PHONE_FORMAT_MASK') %>",
        'FORM_INPUT_PHONE_FORMAT_PATTERN': "<%- t('FORM_INPUT_PHONE_FORMAT_PATTERN') %>",
        'POPUP_SUCCESS_AFTER_TITLE': "<%- t('POPUP_SUCCESS_AFTER_TITLE') %>",
        'POPUP_SUCCESS_AFTER_TEXT': "<%- t('POPUP_SUCCESS_AFTER_TEXT') %>",
    };
    window.pageCountryId = "<%- page %>";
    window.seceTranslationStrings = seceTranslationStrings;
    window.seceSubmitUrl = "//api.sece.kz";
</script>
<div class="sece-<%- appId %>-wrap sece-language-<%- language %>" data-page="<%- page %>"
     data-language="<%- language %>"
     data-base-url="<%- baseUrl %>" data-omni-base="<%- omniBase %>" data-assets-image="<%- imageRoot %>"
     data-assets-content="<%- contentRoot %>">

    <div id="page-wrapper">
        <section class="section section-main">
            <div class="wrapper">
              <div class="col col-6">
                <div class="text-wrap text-padded">
                  <h1><%- t("mainHeader") %></h1>
                  <p>
                    <%- t("mainSubheader1") %>
                  </p>
                  <div class="buttons">
                    <a href="#more" data-omni-base="<%- omniBase %>" data-omni="<%- omniBase %>:goto:more" class="btn btn-black"><%- t("mainMore") %></button>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section class="section" id="more">
            <div class="wrapper wrapper-center">
              <div class="col col-4">
                <div class="text-wrap text-center">
                  <h2><%- t("designerHeaer") %> </h2>
                </div>
              </div>
              <div class="col col-10">
                <div class="text-wrap text-padded">
                  <div class="designer-card">
                      <h4><%- t("designerCardHeader") %></h4>
                      <p class="designer-card-text"><%- t("designerCardText") %></p>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section class="section section-share">
            <div class="wrapper wrapper-center">
              <div class="col col-8">
                <div class="text-wrap text-center">
                  <h2><%- t("shareHeader") %></h2>
                  <p><%- t("shareSubheader") %></p>
                  <div class="buttons buttons-center selectorRecomendation">
                    <button
                      data-room="general"
                      class="btn btn-encased btn-encased-active"
                      data-omni-base="<%- omniBase %>" 
                      data-omni="<%- omniBase %>:select:general"
                    >
                      <%- t("shareGeneral") %>
                    </button>
                    <button
                      data-room="kitchen"
                      class="btn btn-encased"
                      data-omni-base="<%- omniBase %>" 
                      data-omni="<%- omniBase %>:select:kitchen"
                    >
                      <%- t("shareKitchen") %>
                    </button>
                    <button 
                    data-room="livingroom" 
                    class="btn btn-encased"
                    data-omni-base="<%- omniBase %>" 
                    data-omni="<%- omniBase %>:select:livingroom"
                    >
                    
                      <%- t("shareLivingroom") %>
                    </button>
                    <button 
                    data-room="kidrom" 
                    class="btn btn-encased"
                    data-omni-base="<%- omniBase %>" 
                    data-omni="<%- omniBase %>:select:kidroom"
                    >
                      <%- t("shareBathroom") %>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-break"></div>
              <div class="general-wrapper">
                  <div class="share-card">
                      <img src="<%= imageRoot %>/general1.png" alt="general">
                      <p class="bold"><%- t("shareGeneral1") %> </p>
                      <div class="buttons">
                          <button 
                          data-omni-base="<%- omniBase %>" 
                          data-omni="<%- omniBase %>:read:general1"
                          data-rec="general1" class="btn btn-black recomendation"><%- t("shareRead") %> </button>
                      </div>
                  </div>
                  <div class="share-card">
                      <img src="<%= imageRoot %>/general2.png" alt="general">
                      <p class="bold"><%- t("shareGeneral2") %> </p>
                      <div class="buttons">
                          <button 
                          data-omni-base="<%- omniBase %>" 
                          data-omni="<%- omniBase %>:read:general2"
                          data-rec="general2" class="btn btn-black recomendation"><%- t("shareRead") %> </button>
                      </div>
                  </div>
              </div>
              <div class="kitchen-wrapper none">
                  <div class="share-card">
                      <img src="<%= imageRoot %>/kitchencard.png" alt="general">
                      <p class="bold"><%- t("shareKitchen") %> </p>
                      <div class="buttons">
                          <button 
                          data-omni-base="<%- omniBase %>" 
                          data-omni="<%- omniBase %>:read:kitchen"
                          data-rec="kitchen" class="btn btn-black recomendation"><%- t("shareRead") %> </button>
                      </div>
                  </div>
              </div>
              <div class="living-wrapper none">
                  <div class="share-card">
                      <img src="<%= imageRoot %>/livingcard.png" alt="general">
                      <p class="bold"><%- t("shareLivingroom") %> </p>
                      <div class="buttons">
                          <button 
                          data-omni-base="<%- omniBase %>" 
                          data-omni="<%- omniBase %>:read:livingroom"
                          data-rec="living" class="btn btn-black recomendation"><%- t("shareRead") %> </button>
                      </div>
                  </div>
              </div>
              <div class="kid-wrapper none">
                  <div class="share-card">
                      <img src="<%= imageRoot %>/kidcard.png" alt="general">
                      <p class="bold"><%- t("shareBathroom") %> </p>
                      <div class="buttons">
                          <button 
                          data-omni-base="<%- omniBase %>" 
                          data-omni="<%- omniBase %>:read:kidroom"
                          data-rec="kid" class="btn btn-black recomendation"><%- t("shareRead") %> </button>
                      </div>
                  </div>
              </div>
              <div class="col-break"></div>
              <div class="popup-overlay none">
                <div class="popup">
                </div>
              </div>
              </div>
        </section>
        <section class="section section-solution" id="bundle">
            <div class="wrapper wrapper-center">
              <div class="col col-10">
                <div class="text-wrap text-center">
                  <h2><%- t("solutionHeader") %></h2>
                  <p><%- t("solutionSubheader") %></p>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle111.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle1Header") %></h3>
                      <p class="solution-price2"><%- t("solutionBundle1price") %></p>
                      <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle1Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle1"
                        href="#pack-1" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <h5 class="solution-date"><%- t("solutionDate") %></h3>
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle2222.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle2Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle2price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle2Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle2"
                        href="#pack-2" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <h5 class="solution-date"><%- t("solutionDate") %></h3>
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle33.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle3Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle3price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle3Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle3"
                        href="#pack-3" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <h5 class="solution-date"><%- t("solutionDate") %></h3>
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle44.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle4Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle4price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle4Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle3"
                        href="#pack-4" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <h5 class="solution-date"><%- t("solutionDate") %></h3>
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle5.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle5Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle5price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle5Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle3"
                        href="#pack-5" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle6.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle6Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle6price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle6Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle3"
                        href="#pack-6" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle8.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle8Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle8price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle6Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle8"
                        href="#pack-8" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle9.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle9Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle9price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle6Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle9"
                        href="#pack-9" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle10.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle10Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle10price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle10Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle10"
                        href="#pack-10" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundlenum11.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle11Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle11price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle11Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle11"
                        href="#pack-11" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundlenum12.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle12Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle12price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle12Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle12"
                        href="#pack-12" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle13.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle13Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle13price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle13Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle13"
                        href="#pack-13" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle14.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle14Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle14price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle14Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle14"
                        href="#pack-14" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle15.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle15Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle15price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle15Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle15"
                        href="#pack-15" class="btn cta cta--contained cta--black open-pack"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
              <div class="col col-3" >
                <div class="text-wrap text-center">
                  <div class="solution-card">
                    <img src="<%= imageRoot %>/bundle16.png" alt="" />
                    <div class="solution-textWrapper">
                      <p class="solution-header"><%- t("solutionBundle16Header") %></h3>
                        <p class="solution-price2"><%- t("solutionBundle16price") %></p>
                        <span class="devider"></span>
                      <p class="solution-price"><%- t("solutionBundle16Text") %></p>
                    </div>
                    <div class="buttons buttons-column solution-buttons">
                        <a 
                        data-omni-base="<%- omniBase %>" 
                        data-omni="<%- omniBase %>:buy:bundle16"
                        href="#pack-16" class="btn cta cta--contained cta--black open-pack"
                        data-pack="pack-16"><%- t("solutionBuy") %></a>
                      </div>
                    <!-- <h5 class="solution-date"><%- t("solutionDate") %></h3> -->
                  </div>
                </div>
              </div>
            </div>
        </section>
        <div class="my-pop" style="display:none;">
          <div class="pop-content-wrap">
              <div class="pop-content">
                  <div class="pop-body-outer">
                      <a href="javascript:void(0);" class="pop-close"><span>закрыть</span></a>
                      <div class="pop-body">
                          ------
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="bundle-pop">
        <div class="bundle-content">
                    
          <div class="bundle-sizes"></div>
        </div>
      </div>
        <div class="my-bundle-pop" style="display:none;">
          <div class="pop-content-wrap">
              <div class="pop-content">
                  <div class="pop-body-outer">
                      <a href="javascript:void(0);" class="pop-close"><span>закрыть</span></a>
                      <div class="pop-body">
                          <h2 data-font-size-pc="48" data-font-size-mo="44" class="pop-title"><%- t("bundleSet") %> </h2>
                          <!-- START BUNDLE BLOCK -->
                          <div class="section products bundles" id="pack-1" data-pack="1" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %> </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-2" data-pack="2" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-3" data-pack="3" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-4" data-pack="4" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-5" data-pack="5" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-6" data-pack="6" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-7" data-pack="7" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-8" data-pack="8" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-9" data-pack="9" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-10" data-pack="10" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-11" data-pack="11" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-12" data-pack="12" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-13" data-pack="13" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-14" data-pack="14" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-15" data-pack="15" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="section products bundles" id="pack-16" data-pack="16" style="display:none;">
                              <div class="innerWrap">
                                  <div class="products-list bundle-products-list">
                                      <div class="spinner" style="text-align: center; position: relative; height: 48px; width: 100%; display: block;">
                                          <div id="fountainG">
                                              <div id="fountainG_1" class="fountainG"></div>
                                              <div id="fountainG_2" class="fountainG"></div>
                                              <div id="fountainG_3" class="fountainG"></div>
                                              <div id="fountainG_4" class="fountainG"></div>
                                              <div id="fountainG_5" class="fountainG"></div>
                                              <div id="fountainG_6" class="fountainG"></div>
                                              <div id="fountainG_7" class="fountainG"></div>
                                              <div id="fountainG_8" class="fountainG"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="bundles-summary">
                                      <div class="s-wrap">
                                          <a href="javascript:void(0);" class="cta cta--black cta--contained cta-buy-bundle cta--disabled" data-omni-type="microsite" data-omni="kz_ru:offer:ecosystempromo:buy pack-1"><%- t("bundleOrder") %></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <section class="section section-communication">
            <div class="wrapper wrapper-center">
              <div class="col col-8">
                <div class="text-wrap text-center">
                  <h2><%- t("communicationHeader") %></h2>
                  <p><%- t("communicationSubheader") %></p>
                </div>
              </div>
              <div class="col-break"></div>
              <div class="col col-3">
                <div class="communication-card communication-card1">
                  <p class="communication-text"><%- t("communcationCard1") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:air conditioning"
                  href="<%- t("communcationCard1Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
              <div class="col col-3">
                <div class="communication-card communication-card2">
                  <p class="communication-text"><%- t("communcationCard2") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:air purifier"
                  href="<%- t("communcationCard2Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
              <div class="col col-3">
                <div class="communication-card communication-card3">
                  <p class="communication-text"><%- t("communcationCard3") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:steam cabinet"
                  href="<%- t("communcationCard3Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
              <div class="col col-3">
                <div class="communication-card communication-card4">
                  <p class="communication-text"><%- t("communcationCard4") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:TV"
                  href="<%- t("communcationCard4Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
              <div class="col col-3">
                <div class="communication-card communication-card5">
                  <p class="communication-text"><%- t("communcationCard5") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:vacuum cleaner robot"
                  href="<%- t("communcationCard5Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
              <div class="col col-3">
                <div class="communication-card communication-card6">
                  <p class="communication-text"><%- t("communcationCard6") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:oven"
                  href="<%- t("communcationCard6Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
              <div class="col col-3">
                <div class="communication-card communication-card7">
                  <p class="communication-text"><%- t("communcationCard7") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:washing machine"
                  href="<%- t("communcationCard7Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
              <div class="col col-3">
                <div class="communication-card communication-card8">
                  <p class="communication-text"><%- t("communcationCard8") %></p>
                  <a 
                  data-omni-base="<%- omniBase %>" 
                  data-omni="<%- omniBase %>:learmore:dryer"
                  href="<%- t("communcationCard8Link") %> " class="btn btn-white"><%- t("solutionMore") %> </a>
                </div>
              </div>
            </div>
        </section>
        <section class="section section-connect">
            <div class="wrapper wrapper-center">
              <div class="col col-12">
                <div class="text-wrap text-center">
                  <h2 class="connect-header">
                    <%- t("smartThingsHeader") %> 
                  </h2>
                  <div class="buttons">
                    <a href="<%- t("smartThingslink") %>" class="btn btn-black"><%- t("smartThingsBtn") %></a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section class="section section-connect_mob">
            <div class="wrapper">
              <div class="col col-8">
                <div class="text-wrap text-center">
                  <h2><%- t("communicationHeader") %></h2>
                  <p><%- t("communicationSubheader") %></p>
                </div>
              </div>
              <div class="col-break"></div>
              <div class="text-wrap">
                <div class="connectMob-wrapper">
                  <a href="<%- t("communcationCard1Link") %>" class="communication-card communication-card1">
                    <p class="communication-text"><%- t("communcationCard1") %></p>
                  </a>
                  <a href="<%- t("communcationCard2Link") %>" class="communication-card communication-card2">
                    <p class="communication-text"><%- t("communcationCard2") %></p>
                  </a>
                  <a href="<%- t("communcationCard3Link") %>" class="communication-card communication-card3">
                    <p class="communication-text"><%- t("communcationCard3") %></p>
                  </a>
                  <a href="<%- t("communcationCard4Link") %>" class="communication-card communication-card4">
                    <p class="communication-text"><%- t("communcationCard4") %></p>
                  </a>
                  <a href="<%- t("communcationCard5Link") %>" class="communication-card communication-card5">
                    <p class="communication-text"><%- t("communcationCard5") %></p>
                  </a>
                  <a href="<%- t("communcationCard6Link") %>" class="communication-card communication-card6">
                    <p class="communication-text"><%- t("communcationCard6") %></p>
                  </a>
                  <a href="<%- t("communcationCard7Link") %>" class="communication-card communication-card7">
                    <p class="communication-text"><%- t("communcationCard7") %></p>
                  </a>
                  <a href="<%- t("communcationCard8Link") %>" class="communication-card communication-card8">
                    <p class="communication-text"><%- t("communcationCard8") %></p>
                  </a>
                </div>
              </div>
              <div class="col col-12">
                <div class="text-wrap text-center">
                  <h2 class="connect-header">
                    <%- t("smartThingsHeader") %> 
                  </h2>
                  <div class="buttons">
                    <a 
                    data-omni-base="<%- omniBase %>" 
                    data-omni="<%- omniBase %>:goto:smartthings"
                    href="<%- t("smartThingslink") %>" class="btn btn-black"><%- t("smartThingsBtn") %></a>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </div>
</div>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>